
<button class="button">Button</button>
	<button class="button button--submit">button--submit</button>
	<button class="button button--to">button--to</button>
	<button class="button button--highlight">button--highlight</button>
        <button class="button button--link">button--link</button>