.l-section:before, .section__content:before, .header:before, .headerback:before, .footer:before, .color-bar:before, .menu:before, .menuback:before, .categories:before, .l-section:after, .section__content:after, .header:after, .headerback:after, .footer:after, .color-bar:after, .menu:after, .menuback:after, .categories:after {
  content: "";
  display: table; }
.l-section:after, .section__content:after, .header:after, .headerback:after, .footer:after, .color-bar:after, .menu:after, .menuback:after, .categories:after {
  clear: both; }
.l-section, .section__content, .header, .headerback, .footer, .color-bar, .menu, .menuback, .categories {
  zoom: 1; }

.footer__copyright, .footer__link {
  position: relative; }

.l-section, .section__content, .header, .headerback, .footer, .color-bar, .menu, .menuback, .categories {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.section__content, .header__logo, .header__client, .headerback__logo, .headerback__client, .footer__copyright, .footer__link, .color-bar__item, .menu__item, .menu__item--first, .menuback__item, .categorie, .input--checkbox .input__control, .input--checkbox .input__label, .input__control, .input__label, .section--connexion .section__content__body {
  display: inline-block;
  min-height: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/**
 * Map set
 *
 * @param 	Map 	$map 		The map to use
 * @param 	String 	$key 		The key to update
 * @param 	Mixed 	$value 		The new value
 * @return 	Map 			The new map
 */
/**
 * Get the column width in percent for the global or a specific context
 *
 * @param 	int 		$columns 					The number of columns to calculate
 * @param 	int 		$context : $gridle-columns-count 	 	The context to use
 * @return 	percentage 							The width in percent
 */
/**
 *  Get a state map
 *
 * @param 	string 		$name 		The name of the state to get
 * @return 	map 				A state map object
 */
/**
 * Check if a state exist :
 *
 * @param 	string 		$name 		The name of the state to check
 * @return 	Boolean 			true is exist
 */
/**
 * Get the media queries variables :
 *
 * @param 	int 		$index 	 	The media query indes
 * @param 	String 		$var 		The media query variable name
 * @return 	String|int 			The variable value
 */
/**
 * Get a variable
 *
 * @param 	String 		$varName 				The variable name
 * @param  	String 		$stateMap-or-stateName 	 	The state name or a map state value
 * @return 	Mixed 							The finded value
 */
/**
 * Set a variable in a state
 * @param 	Mixed $stateName-or-stateIndex 	The state name of state index
 * @param  	String $var                    		Variable name to assign
 * @param  	Mixed $newValue          		The new value to assign
 * @return 	List                         			The states list (full)
 */
/**
 * Generate a column
 *
 * @param 	String 		$name 			The column name (often count)
 * @param 	int 		$columns 		The column count that the column will take
 * @param 	int 		$context 		The context on witch the with will be calculed
 * @param 	Boolean 	$generateClasses 	Set if the column has to be generated in css
 */
/**
 * Generate classname
 *
 * @param 	List 		$parrern 	The pattern to use to generate classname
 * @param 	String 		$state 		The state
 * @param 	int 		$count 		The column count
 */
/**
 * Get the media query for a particular state, or with, etc...
 *
 * @param 	Mixed 		$state-or-min-width 		The state name of the min with
 * @param 	Mixed 		$max-width 			The max width if first param is a min width
 * @return 	String 						The media query string without the @media
 */
/**
 * Get states count
 * 
 * @return 	int 	The number of states defined
 */
/**
 * Setup
 */
/**
 *  Register a clear each class
 */
/**
 * Register a special class
 */
/**
 * Register default states
 */
/**
 * Register default mobile first states :
 */
/**
 * Set the debug device (not used for now)
 * 
 * @param 	String 		$state 		The state to update
 * @para m 	String 		$device 	The device to use (iphone, etc...)
 */
/**
 * Parent clear each
 */
/**
 * Vertical align :
 */
/**
 * Show inline
 *
 * @param 	String 		$state 		The state name
 */
/**
 * Generate a custom class for all the states
 *
 * @param 	list 	$pattern 		The name pattern of the class
 * @param 	list 	$statesNames 		The states names to generate
 */
.sectionback__entete__back, .section--connexion .section__content__body:last-child {
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  margin-top: 0; }
  .sectionback__entete__back:before, .section--connexion .section__content__body:last-child:before {
    text-decoration: inherit;
    display: inline-block;
    speak: none; }

.center {
  text-align: center; }

@media screen and (max-width: 40.062em) {
  .center-small {
    text-align: center; } }

@media screen and (min-width: 40.063em) {
  .center-medium {
    text-align: center; } }

@media screen and (min-width: 64.063em) {
  .center-large {
    text-align: center; } }

.container {
  margin: 0 auto;
  max-width: 960px;
  position: relative;
  z-index: 9999; }
  .container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100% !important;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.01) 50%, rgba(0, 0, 0, 0.04) 50%);
    /* Standard syntax */
    background-size: 16.66667% 100%; }

/*
    Document   : _resetcss
    Created on : 21 janv. 2015, 09:26:09
    Author     : aureliep
    Description:
    Purpose of the stylesheet follows.
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  min-height: 100%;
  position: relative;
  bottom: 0; }

img.map, map area {
  outline: none; }

@font-face {
  font-family: 'FontAwesome';
  src: url("/assets/fonts/fontawesome-webfont.eot?v=3.1.0");
  src: url("/assets/fonts/fontawesome-webfont.eot?#iefix&v=3.1.0") format("embedded-opentype"), url("/assets/fonts/fontawesome-webfont.woff?v=3.1.0") format("woff"), url("/assets/fonts/fontawesome-webfont.ttf?v=3.1.0") format("truetype"), url("/assets/fonts/fontawesome-webfont.svg#fontawesomeregular?v=3.1.0") format("svg");
  font-weight: normal;
  font-style: normal; }

.awe-glass:before {
  content: "\f000"; }

.awe-music:before {
  content: "\f001"; }

.awe-search:before {
  content: "\f002"; }

.awe-envelope:before {
  content: "\f003"; }

.awe-heart:before {
  content: "\f004"; }

.awe-star:before {
  content: "\f005"; }

.awe-star-empty:before {
  content: "\f006"; }

.awe-user:before {
  content: "\f007"; }

.awe-film:before {
  content: "\f008"; }

.awe-th-large:before {
  content: "\f009"; }

.awe-th:before {
  content: "\f00a"; }

.awe-th-list:before {
  content: "\f00b"; }

.awe-ok:before {
  content: "\f00c"; }

.awe-remove:before {
  content: "\f00d"; }

.awe-zoom-in:before {
  content: "\f00e"; }

.awe-zoom-out:before {
  content: "\f010"; }

.awe-off:before {
  content: "\f011"; }

.awe-signal:before {
  content: "\f012"; }

.awe-cog:before {
  content: "\f013"; }

.awe-trash:before {
  content: "\f014"; }

.awe-home:before {
  content: "\f015"; }

.awe-file:before {
  content: "\f016"; }

.awe-time:before {
  content: "\f017"; }

.awe-road:before {
  content: "\f018"; }

.awe-download-alt:before {
  content: "\f019"; }

.awe-download:before {
  content: "\f01a"; }

.awe-upload:before {
  content: "\f01b"; }

.awe-inbox:before {
  content: "\f01c"; }

.awe-play-circle:before {
  content: "\f01d"; }

.awe-repeat:before, .awe-rotate-right:before {
  content: "\f01e"; }

.awe-refresh:before {
  content: "\f021"; }

.awe-list-alt:before {
  content: "\f022"; }

.awe-lock:before, .section--connexion .section__content__body:last-child:before {
  content: "\f023"; }

.awe-flag:before {
  content: "\f024"; }

.awe-headphones:before {
  content: "\f025"; }

.awe-volume-off:before {
  content: "\f026"; }

.awe-volume-down:before {
  content: "\f027"; }

.awe-volume-up:before {
  content: "\f028"; }

.awe-qrcode:before {
  content: "\f029"; }

.awe-barcode:before {
  content: "\f02a"; }

.awe-tag:before {
  content: "\f02b"; }

.awe-tags:before {
  content: "\f02c"; }

.awe-book:before {
  content: "\f02d"; }

.awe-bookmark:before {
  content: "\f02e"; }

.awe-print:before {
  content: "\f02f"; }

.awe-camera:before {
  content: "\f030"; }

.awe-font:before {
  content: "\f031"; }

.awe-bold:before {
  content: "\f032"; }

.awe-italic:before {
  content: "\f033"; }

.awe-text-height:before {
  content: "\f034"; }

.awe-text-width:before {
  content: "\f035"; }

.awe-align-left:before {
  content: "\f036"; }

.awe-align-center:before {
  content: "\f037"; }

.awe-align-right:before {
  content: "\f038"; }

.awe-align-justify:before {
  content: "\f039"; }

.awe-list:before {
  content: "\f03a"; }

.awe-indent-left:before {
  content: "\f03b"; }

.awe-indent-right:before {
  content: "\f03c"; }

.awe-facetime-video:before {
  content: "\f03d"; }

.awe-picture:before {
  content: "\f03e"; }

.awe-pencil:before {
  content: "\f040"; }

.awe-map-marker:before {
  content: "\f041"; }

.awe-adjust:before {
  content: "\f042"; }

.awe-tint:before {
  content: "\f043"; }

.awe-edit:before {
  content: "\f044"; }

.awe-share:before {
  content: "\f045"; }

.awe-check:before {
  content: "\f046"; }

.awe-move:before {
  content: "\f047"; }

.awe-step-backward:before {
  content: "\f048"; }

.awe-fast-backward:before {
  content: "\f049"; }

.awe-backward:before {
  content: "\f04a"; }

.awe-play:before {
  content: "\f04b"; }

.awe-pause:before {
  content: "\f04c"; }

.awe-stop:before {
  content: "\f04d"; }

.awe-forward:before {
  content: "\f04e"; }

.awe-fast-forward:before {
  content: "\f050"; }

.awe-step-forward:before {
  content: "\f051"; }

.awe-eject:before {
  content: "\f052"; }

.awe-chevron-left:before {
  content: "\f053"; }

.awe-chevron-right:before {
  content: "\f054"; }

.awe-plus-sign:before {
  content: "\f055"; }

.awe-minus-sign:before {
  content: "\f056"; }

.awe-remove-sign:before {
  content: "\f057"; }

.awe-ok-sign:before {
  content: "\f058"; }

.awe-question-sign:before {
  content: "\f059"; }

.awe-info-sign:before {
  content: "\f05a"; }

.awe-screenshot:before {
  content: "\f05b"; }

.awe-remove-circle:before {
  content: "\f05c"; }

.awe-ok-circle:before {
  content: "\f05d"; }

.awe-ban-circle:before {
  content: "\f05e"; }

.awe-arrow-left:before, .sectionback__entete__back:before {
  content: "\f060"; }

.awe-arrow-right:before {
  content: "\f061"; }

.awe-arrow-up:before {
  content: "\f062"; }

.awe-arrow-down:before {
  content: "\f063"; }

.awe-share-alt:before, .awe-mail-forward:before {
  content: "\f064"; }

.awe-resize-full:before {
  content: "\f065"; }

.awe-resize-small:before {
  content: "\f066"; }

.awe-plus:before {
  content: "\f067"; }

.awe-minus:before {
  content: "\f068"; }

.awe-asterisk:before {
  content: "\f069"; }

.awe-exclamation-sign:before {
  content: "\f06a"; }

.awe-gift:before {
  content: "\f06b"; }

.awe-leaf:before {
  content: "\f06c"; }

.awe-fire:before {
  content: "\f06d"; }

.awe-eye-open:before {
  content: "\f06e"; }

.awe-eye-close:before {
  content: "\f070"; }

.awe-warning-sign:before {
  content: "\f071"; }

.awe-plane:before {
  content: "\f072"; }

.awe-calendar:before {
  content: "\f073"; }

.awe-random:before {
  content: "\f074"; }

.awe-comment:before {
  content: "\f075"; }

.awe-magnet:before {
  content: "\f076"; }

.awe-chevron-up:before {
  content: "\f077"; }

.awe-chevron-down:before {
  content: "\f078"; }

.awe-retweet:before {
  content: "\f079"; }

.awe-shopping-cart:before {
  content: "\f07a"; }

.awe-folder-close:before {
  content: "\f07b"; }

.awe-folder-open:before {
  content: "\f07c"; }

.awe-resize-vertical:before {
  content: "\f07d"; }

.awe-resize-horizontal:before {
  content: "\f07e"; }

.awe-bar-chart:before {
  content: "\f080"; }

.awe-twitter-sign:before {
  content: "\f081"; }

.awe-facebook-sign:before {
  content: "\f082"; }

.awe-camera-retro:before {
  content: "\f083"; }

.awe-key:before {
  content: "\f084"; }

.awe-cogs:before {
  content: "\f085"; }

.awe-comments:before {
  content: "\f086"; }

.awe-thumbs-up:before {
  content: "\f087"; }

.awe-thumbs-down:before {
  content: "\f088"; }

.awe-star-half:before {
  content: "\f089"; }

.awe-heart-empty:before {
  content: "\f08a"; }

.awe-signout:before {
  content: "\f08b"; }

.awe-linkedin-sign:before {
  content: "\f08c"; }

.awe-pushpin:before {
  content: "\f08d"; }

.awe-external-link:before {
  content: "\f08e"; }

.awe-signin:before {
  content: "\f090"; }

.awe-trophy:before {
  content: "\f091"; }

.awe-github-sign:before {
  content: "\f092"; }

.awe-upload-alt:before {
  content: "\f093"; }

.awe-lemon:before {
  content: "\f094"; }

.awe-phone:before {
  content: "\f095"; }

.awe-check-empty:before {
  content: "\f096"; }

.awe-bookmark-empty:before {
  content: "\f097"; }

.awe-phone-sign:before {
  content: "\f098"; }

.awe-twitter:before {
  content: "\f099"; }

.awe-facebook:before {
  content: "\f09a"; }

.awe-github:before {
  content: "\f09b"; }

.awe-unlock:before {
  content: "\f09c"; }

.awe-credit-card:before {
  content: "\f09d"; }

.awe-rss:before {
  content: "\f09e"; }

.awe-hdd:before {
  content: "\f0a0"; }

.awe-bullhorn:before {
  content: "\f0a1"; }

.awe-bell:before {
  content: "\f0a2"; }

.awe-certificate:before {
  content: "\f0a3"; }

.awe-hand-right:before {
  content: "\f0a4"; }

.awe-hand-left:before {
  content: "\f0a5"; }

.awe-hand-up:before {
  content: "\f0a6"; }

.awe-hand-down:before {
  content: "\f0a7"; }

.awe-circle-arrow-left:before {
  content: "\f0a8"; }

.awe-circle-arrow-right:before {
  content: "\f0a9"; }

.awe-circle-arrow-up:before {
  content: "\f0aa"; }

.awe-circle-arrow-down:before {
  content: "\f0ab"; }

.awe-globe:before {
  content: "\f0ac"; }

.awe-wrench:before {
  content: "\f0ad"; }

.awe-tasks:before {
  content: "\f0ae"; }

.awe-filter:before {
  content: "\f0b0"; }

.awe-briefcase:before {
  content: "\f0b1"; }

.awe-fullscreen:before {
  content: "\f0b2"; }

.awe-group:before {
  content: "\f0c0"; }

.awe-link:before {
  content: "\f0c1"; }

.awe-cloud:before {
  content: "\f0c2"; }

.awe-beaker:before {
  content: "\f0c3"; }

.awe-cut:before {
  content: "\f0c4"; }

.awe-copy:before {
  content: "\f0c5"; }

.awe-paper-clip:before {
  content: "\f0c6"; }

.awe-save:before {
  content: "\f0c7"; }

.awe-sign-blank:before {
  content: "\f0c8"; }

.awe-reorder:before {
  content: "\f0c9"; }

.awe-list-ul:before {
  content: "\f0ca"; }

.awe-list-ol:before {
  content: "\f0cb"; }

.awe-strikethrough:before {
  content: "\f0cc"; }

.awe-underline:before {
  content: "\f0cd"; }

.awe-table:before {
  content: "\f0ce"; }

.awe-magic:before {
  content: "\f0d0"; }

.awe-truck:before {
  content: "\f0d1"; }

.awe-pinterest:before {
  content: "\f0d2"; }

.awe-pinterest-sign:before {
  content: "\f0d3"; }

.awe-google-plus-sign:before {
  content: "\f0d4"; }

.awe-google-plus:before {
  content: "\f0d5"; }

.awe-money:before {
  content: "\f0d6"; }

.awe-caret-down:before {
  content: "\f0d7"; }

.awe-caret-up:before {
  content: "\f0d8"; }

.awe-caret-left:before {
  content: "\f0d9"; }

.awe-caret-right:before {
  content: "\f0da"; }

.awe-columns:before {
  content: "\f0db"; }

.awe-sort:before {
  content: "\f0dc"; }

.awe-sort-down:before {
  content: "\f0dd"; }

.awe-sort-up:before {
  content: "\f0de"; }

.awe-envelope-alt:before {
  content: "\f0e0"; }

.awe-linkedin:before {
  content: "\f0e1"; }

.awe-undo:before, .awe-rotate-left:before {
  content: "\f0e2"; }

.awe-legal:before {
  content: "\f0e3"; }

.awe-dashboard:before {
  content: "\f0e4"; }

.awe-comment-alt:before {
  content: "\f0e5"; }

.awe-comments-alt:before {
  content: "\f0e6"; }

.awe-bolt:before {
  content: "\f0e7"; }

.awe-sitemap:before {
  content: "\f0e8"; }

.awe-umbrella:before {
  content: "\f0e9"; }

.awe-paste:before {
  content: "\f0ea"; }

.awe-lightbulb:before {
  content: "\f0eb"; }

.awe-exchange:before {
  content: "\f0ec"; }

.awe-cloud-download:before {
  content: "\f0ed"; }

.awe-cloud-upload:before {
  content: "\f0ee"; }

.awe-user-md:before {
  content: "\f0f0"; }

.awe-stethoscope:before {
  content: "\f0f1"; }

.awe-suitcase:before {
  content: "\f0f2"; }

.awe-bell-alt:before {
  content: "\f0f3"; }

.awe-coffee:before {
  content: "\f0f4"; }

.awe-food:before {
  content: "\f0f5"; }

.awe-file-alt:before {
  content: "\f0f6"; }

.awe-building:before {
  content: "\f0f7"; }

.awe-hospital:before {
  content: "\f0f8"; }

.awe-ambulance:before {
  content: "\f0f9"; }

.awe-medkit:before {
  content: "\f0fa"; }

.awe-fighter-jet:before {
  content: "\f0fb"; }

.awe-beer:before {
  content: "\f0fc"; }

.awe-h-sign:before {
  content: "\f0fd"; }

.awe-plus-sign-alt:before {
  content: "\f0fe"; }

.awe-double-angle-left:before {
  content: "\f100"; }

.awe-double-angle-right:before {
  content: "\f101"; }

.awe-double-angle-up:before {
  content: "\f102"; }

.awe-double-angle-down:before {
  content: "\f103"; }

.awe-angle-left:before {
  content: "\f104"; }

.awe-angle-right:before {
  content: "\f105"; }

.awe-angle-up:before {
  content: "\f106"; }

.awe-angle-down:before {
  content: "\f107"; }

.awe-desktop:before {
  content: "\f108"; }

.awe-laptop:before {
  content: "\f109"; }

.awe-tablet:before {
  content: "\f10a"; }

.awe-mobile-phone:before {
  content: "\f10b"; }

.awe-circle-blank:before {
  content: "\f10c"; }

.awe-quote-left:before {
  content: "\f10d"; }

.awe-quote-right:before {
  content: "\f10e"; }

.awe-spinner:before {
  content: "\f110"; }

.awe-circle:before {
  content: "\f111"; }

.awe-reply:before, .awe-mail-reply:before {
  content: "\f112"; }

.awe-folder-close-alt:before {
  content: "\f114"; }

.awe-folder-open-alt:before {
  content: "\f115"; }

.awe-expand-alt:before {
  content: "\f116"; }

.awe-collapse-alt:before {
  content: "\f117"; }

.awe-smile:before {
  content: "\f118"; }

.awe-frown:before {
  content: "\f119"; }

.awe-meh:before {
  content: "\f11a"; }

.awe-gamepad:before {
  content: "\f11b"; }

.awe-keyboard:before {
  content: "\f11c"; }

.awe-flag-alt:before {
  content: "\f11d"; }

.awe-flag-checkered:before {
  content: "\f11e"; }

.awe-terminal:before {
  content: "\f120"; }

.awe-code:before {
  content: "\f121"; }

.awe-reply-all:before {
  content: "\f122"; }

.awe-mail-reply-all:before {
  content: "\f122"; }

.awe-star-half-full:before, .awe-star-half-empty:before {
  content: "\f123"; }

.awe-location-arrow:before {
  content: "\f124"; }

.awe-crop:before {
  content: "\f125"; }

.awe-code-fork:before {
  content: "\f126"; }

.awe-unlink:before {
  content: "\f127"; }

.awe-question:before {
  content: "\f128"; }

.awe-info:before {
  content: "\f129"; }

.awe-exclamation:before {
  content: "\f12a"; }

.awe-superscript:before {
  content: "\f12b"; }

.awe-subscript:before {
  content: "\f12c"; }

.awe-eraser:before {
  content: "\f12d"; }

.awe-puzzle-piece:before {
  content: "\f12e"; }

.awe-microphone:before {
  content: "\f130"; }

.awe-microphone-off:before {
  content: "\f131"; }

.awe-shield:before {
  content: "\f132"; }

.awe-calendar-empty:before {
  content: "\f133"; }

.awe-fire-extinguisher:before {
  content: "\f134"; }

.awe-rocket:before {
  content: "\f135"; }

.awe-maxcdn:before {
  content: "\f136"; }

.awe-chevron-sign-left:before {
  content: "\f137"; }

.awe-chevron-sign-right:before {
  content: "\f138"; }

.awe-chevron-sign-up:before {
  content: "\f139"; }

.awe-chevron-sign-down:before {
  content: "\f13a"; }

.awe-html5:before {
  content: "\f13b"; }

.awe-css3:before {
  content: "\f13c"; }

.awe-anchor:before {
  content: "\f13d"; }

.awe-unlock-alt:before {
  content: "\f13e"; }

.awe-bullseye:before {
  content: "\f140"; }

.awe-ellipsis-horizontal:before {
  content: "\f141"; }

.awe-ellipsis-vertical:before {
  content: "\f142"; }

.awe-rss-sign:before {
  content: "\f143"; }

.awe-play-sign:before {
  content: "\f144"; }

.awe-ticket:before {
  content: "\f145"; }

.awe-minus-sign-alt:before {
  content: "\f146"; }

.awe-check-minus:before {
  content: "\f147"; }

.awe-level-up:before {
  content: "\f148"; }

.awe-level-down:before {
  content: "\f149"; }

.awe-check-sign:before {
  content: "\f14a"; }

.awe-edit-sign:before {
  content: "\f14b"; }

.awe-external-link-sign:before {
  content: "\f14c"; }

.awe-share-sign:before {
  content: "\f14d"; }

.l-section {
  position: relative;
  padding-left: 0;
  padding-right: 0; }

.section__content {
  padding-left: 0;
  padding-right: 0;
  float: left;
  direction: ltr;
  padding-left: 0;
  padding-right: 0;
  float: left;
  direction: ltr;
  padding-left: 0;
  padding-right: 0;
  display: block !important;
  float: none !important;
  margin-left: auto !important;
  margin-right: auto !important;
  clear: both !important; }
  @media screen and (max-width: 40.062em) {
    .section__content {
      float: left;
      direction: ltr;
      padding-left: 0;
      padding-right: 0; } }
  @media screen and (min-width: 40.063em) {
    .section__content {
      float: left;
      direction: ltr;
      padding-left: 0;
      padding-right: 0; } }
  @media screen and (min-width: 64.063em) {
    .section__content {
      float: left;
      direction: ltr;
      padding-left: 0;
      padding-right: 0; } }
  @media screen and (min-width: 40.063em) {
    .section__content {
      width: 75%; } }
  @media screen and (max-width: 40.062em) {
    .section__content {
      float: left;
      direction: ltr;
      padding-left: 0;
      padding-right: 0; } }
  @media screen and (min-width: 40.063em) {
    .section__content {
      float: left;
      direction: ltr;
      padding-left: 0;
      padding-right: 0; } }
  @media screen and (min-width: 64.063em) {
    .section__content {
      float: left;
      direction: ltr;
      padding-left: 0;
      padding-right: 0; } }
  @media screen and (max-width: 40.062em) {
    .section__content {
      width: 100%; } }

.section {
  border-bottom: 1px solid #d2d3d5; }
  .section__content {
    border-left: 1px solid #d2d3d5;
    border-right: 1px solid #d2d3d5;
    padding: 30px; }
    .section__content__title {
      text-transform: uppercase;
      font-size: 18px;
      padding-bottom: 5px;
      margin-bottom: 30px;
      border-bottom: solid #020001;
      border-width: 3px 0; }
      .section__content__title--page {
        font-size: 22px;
        border: none;
        margin: 0; }
    .section__content__body {
      padding-bottom: 20px; }
    .section__content--wide {
      padding-left: 0;
      padding-right: 0; }
      .section__content--wide .section__content__title {
        margin: 0 30px 15px 30px; }
      .section__content--wide .section__content__body {
        padding: 0; }
    .section__content--sticky {
      padding: 0;
      padding-left: 0;
      padding-right: 0; }
      .section__content--sticky .section__content__title {
        margin: 0 30px 15px 30px; }
      .section__content--sticky .section__content__body {
        padding: 0; }
      .section__content--sticky .menu {
        border: none; }

.sectionback {
  border: 1px solid #4E4E4E;
  border-radius: 5px; }
  .sectionback__entete {
    background-color: #4E4E4E;
    color: #fff;
    font-weight: bold;
    display: block;
    width: 100%;
    height: 50px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 22px; }
    .sectionback__entete__title {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      display: inline-block; }
    .sectionback__entete__back {
      float: right;
      display: inline-block;
      text-align: center;
      background-color: #fff;
      color: #231f20;
      border: 1px solid #fff;
      border-radius: 5px;
      font-size: 13px;
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      cursor: pointer; }
  .sectionback__content {
    margin: 0 auto;
    text-align: center;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #4E4E4E; }
  .sectionback__pied {
    background-color: #4E4E4E;
    color: #fff;
    font-weight: bold;
    display: block;
    width: 100%;
    height: 50px;
    padding-right: 10px;
    font-size: 13px;
    text-align: right; }
    .sectionback__pied__page {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      display: inline-block; }
      .sectionback__pied__page__num {
        color: #fff;
        text-decoration: none; }
        .sectionback__pied__page__num.is-active {
          font-size: 20px;
          position: relative;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.body {
  width: 85%;
  margin: 0 auto; }

.header {
  padding-left: 0;
  padding-right: 0; }
  .header__logo {
    float: left;
    direction: ltr;
    padding-left: 0;
    padding-right: 0;
    width: 58.33333%;
    float: left;
    direction: ltr;
    padding-left: 0;
    padding-right: 0;
    height: 134px;
    background: url("/assets/images/logo-cap-coherence.png") no-repeat;
    background-size: 475px; }
    @media screen and (max-width: 40.062em) {
      .header__logo {
        float: left;
        direction: ltr;
        padding-left: 0;
        padding-right: 0; } }
    @media screen and (min-width: 40.063em) {
      .header__logo {
        float: left;
        direction: ltr;
        padding-left: 0;
        padding-right: 0; } }
    @media screen and (min-width: 64.063em) {
      .header__logo {
        float: left;
        direction: ltr;
        padding-left: 0;
        padding-right: 0; } }
    @media screen and (max-width: 40.062em) {
      .header__logo {
        float: left;
        direction: ltr;
        padding-left: 0;
        padding-right: 0; } }
    @media screen and (min-width: 40.063em) {
      .header__logo {
        float: left;
        direction: ltr;
        padding-left: 0;
        padding-right: 0; } }
    @media screen and (min-width: 64.063em) {
      .header__logo {
        float: left;
        direction: ltr;
        padding-left: 0;
        padding-right: 0; } }
    @media screen and (max-width: 40.062em) {
      .header__logo {
        width: 100%; } }
  .header__client {
    float: left;
    direction: ltr;
    padding-left: 0;
    padding-right: 0;
    width: 41.66667%;
    float: left;
    direction: ltr;
    padding-left: 0;
    padding-right: 0;
    text-align: right;
    padding-right: 20px;
    display: inline-block;
    float: right;
    position: relative; }
    @media screen and (max-width: 40.062em) {
      .header__client {
        float: left;
        direction: ltr;
        padding-left: 0;
        padding-right: 0; } }
    @media screen and (min-width: 40.063em) {
      .header__client {
        float: left;
        direction: ltr;
        padding-left: 0;
        padding-right: 0; } }
    @media screen and (min-width: 64.063em) {
      .header__client {
        float: left;
        direction: ltr;
        padding-left: 0;
        padding-right: 0; } }
    @media screen and (max-width: 40.062em) {
      .header__client {
        float: left;
        direction: ltr;
        padding-left: 0;
        padding-right: 0; } }
    @media screen and (min-width: 40.063em) {
      .header__client {
        float: left;
        direction: ltr;
        padding-left: 0;
        padding-right: 0; } }
    @media screen and (min-width: 64.063em) {
      .header__client {
        float: left;
        direction: ltr;
        padding-left: 0;
        padding-right: 0; } }
    @media screen and (max-width: 40.062em) {
      .header__client {
        width: 100%; } }

.client__login {
  position: absolute;
  right: 27px; }
  .client__login__picto {
    width: 17px;
    vertical-align: middle;
    padding-bottom: 5px; }
.client__newsletter {
  position: relative;
  height: 104px;
  width: 320px;
  margin-right: 40px;
  margin-top: 26px;
  padding: 10px;
  background-color: #F6F6F6;
  display: block;
  float: right; }
  .client__newsletter__picto {
    position: absolute;
    top: 17px;
    left: 15px;
    width: 25px;
    display: inline-block; }
  .client__newsletter p {
    margin-left: 46px;
    color: black;
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 0;
    text-align: left; }

.expert__login {
  position: absolute;
  float: right;
  right: 150px; }
  .expert__login__picto {
    width: 17px;
    vertical-align: middle;
    padding-bottom: 5px; }

.headerback {
  padding-left: 0;
  padding-right: 0;
  margin-top: 10px; }
  .headerback__logo {
    float: left;
    direction: ltr;
    padding-left: 0;
    padding-right: 0;
    width: 58.33333%;
    height: 134px;
    background: url("/assets/images/logo-cap-coherence.png") no-repeat;
    background-size: 475px; }
    @media screen and (max-width: 40.062em) {
      .headerback__logo {
        float: left;
        direction: ltr;
        padding-left: 0;
        padding-right: 0; } }
    @media screen and (min-width: 40.063em) {
      .headerback__logo {
        float: left;
        direction: ltr;
        padding-left: 0;
        padding-right: 0; } }
    @media screen and (min-width: 64.063em) {
      .headerback__logo {
        float: left;
        direction: ltr;
        padding-left: 0;
        padding-right: 0; } }
  .headerback__client {
    float: left;
    direction: ltr;
    padding-left: 0;
    padding-right: 0;
    width: 41.66667%;
    text-align: right;
    padding-right: 20px;
    display: inline-block;
    float: right;
    position: relative; }
    @media screen and (max-width: 40.062em) {
      .headerback__client {
        float: left;
        direction: ltr;
        padding-left: 0;
        padding-right: 0; } }
    @media screen and (min-width: 40.063em) {
      .headerback__client {
        float: left;
        direction: ltr;
        padding-left: 0;
        padding-right: 0; } }
    @media screen and (min-width: 64.063em) {
      .headerback__client {
        float: left;
        direction: ltr;
        padding-left: 0;
        padding-right: 0; } }

.client__hello {
  padding-right: 50px; }

.l-footer {
  position: relative; }
  .l-footer .section__content {
    padding-top: 0; }
  .l-footer .menu {
    border-top: none; }

.footer {
  padding-left: 0;
  padding-right: 0;
  margin-top: 15px; }
  .footer__copyright {
    float: left;
    direction: ltr;
    padding-left: 0;
    padding-right: 0;
    width: 40%;
    left: 1.66667%; }
    @media screen and (max-width: 40.062em) {
      .footer__copyright {
        float: left;
        direction: ltr;
        padding-left: 0;
        padding-right: 0; } }
    @media screen and (min-width: 40.063em) {
      .footer__copyright {
        float: left;
        direction: ltr;
        padding-left: 0;
        padding-right: 0; } }
    @media screen and (min-width: 64.063em) {
      .footer__copyright {
        float: left;
        direction: ltr;
        padding-left: 0;
        padding-right: 0; } }
  .footer__link {
    float: left;
    direction: ltr;
    padding-left: 0;
    padding-right: 0;
    width: 46.66667%;
    left: 11.66667%;
    text-align: right; }
    @media screen and (max-width: 40.062em) {
      .footer__link {
        float: left;
        direction: ltr;
        padding-left: 0;
        padding-right: 0; } }
    @media screen and (min-width: 40.063em) {
      .footer__link {
        float: left;
        direction: ltr;
        padding-left: 0;
        padding-right: 0; } }
    @media screen and (min-width: 64.063em) {
      .footer__link {
        float: left;
        direction: ltr;
        padding-left: 0;
        padding-right: 0; } }
    .footer__link .button--link {
      padding: 0 10px;
      border-right: 2px solid #58595b;
      line-height: 14px; }
    .footer__link .button--link:last-of-type {
      border: none; }

.color-bar {
  padding-left: 0;
  padding-right: 0; }
  .color-bar__item {
    float: left;
    direction: ltr;
    padding-left: 0;
    padding-right: 0;
    width: 33.33333%;
    height: 8px; }
    @media screen and (max-width: 40.062em) {
      .color-bar__item {
        float: left;
        direction: ltr;
        padding-left: 0;
        padding-right: 0; } }
    @media screen and (min-width: 40.063em) {
      .color-bar__item {
        float: left;
        direction: ltr;
        padding-left: 0;
        padding-right: 0; } }
    @media screen and (min-width: 64.063em) {
      .color-bar__item {
        float: left;
        direction: ltr;
        padding-left: 0;
        padding-right: 0; } }
    .color-bar__item--blue {
      background-color: #00AEEF; }
    .color-bar__item--green {
      background-color: #39B042; }
    .color-bar__item--yellow {
      background-color: #FEF200; }
  .color-bar--bottom {
    bottom: 0; }

.menu {
  padding-left: 0;
  padding-right: 0;
  border: 1px solid #d2d3d5;
  height: 80px; }
  .menu__item {
    float: left;
    direction: ltr;
    padding-left: 0;
    padding-right: 0;
    width: 15.41667%;
    display: inline-block;
    height: 80px;
    border-right: 1px solid #d2d3d5;
    text-decoration: none;
    color: #58595b;
    line-height: 80px;
    text-align: center;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
    @media screen and (max-width: 40.062em) {
      .menu__item {
        float: left;
        direction: ltr;
        padding-left: 0;
        padding-right: 0; } }
    @media screen and (min-width: 40.063em) {
      .menu__item {
        float: left;
        direction: ltr;
        padding-left: 0;
        padding-right: 0; } }
    @media screen and (min-width: 64.063em) {
      .menu__item {
        float: left;
        direction: ltr;
        padding-left: 0;
        padding-right: 0; } }
    .menu__item.is-active {
      background-color: #eee; }
    .menu__item:hover {
      background-color: #898787;
      color: #fff; }
    .menu__item--last {
      border-right: none; }
    .menu__item--cart {
      background-color: #00AEEF; }
    .menu__item--first {
      float: left;
      direction: ltr;
      padding-left: 0;
      padding-right: 0;
      width: 7.5%; }
      @media screen and (max-width: 40.062em) {
        .menu__item--first {
          float: left;
          direction: ltr;
          padding-left: 0;
          padding-right: 0; } }
      @media screen and (min-width: 40.063em) {
        .menu__item--first {
          float: left;
          direction: ltr;
          padding-left: 0;
          padding-right: 0; } }
      @media screen and (min-width: 64.063em) {
        .menu__item--first {
          float: left;
          direction: ltr;
          padding-left: 0;
          padding-right: 0; } }
    .menu__item__title {
      font-size: 14px;
      line-height: 18px;
      font-weight: normal;
      text-transform: uppercase;
      display: inline-block;
      vertical-align: middle;
      text-align: center; }
      .menu__item__title--home {
        width: 24px;
        height: 21px;
        background: url("/assets/images/picto-home.png") left bottom no-repeat; }
    .menu__item__body {
      display: block;
      font-size: 13px;
      font-style: italic;
      text-transform: lowercase; }

nav select {
  display: none; }

@media screen and (min-width: 64.063em) {
  body .menu__item--icon {
    display: none; } }
@media screen and (min-width: 40.063em) {
  body .menu__item--icon {
    display: none; } }

.menuback {
  padding-left: 0;
  padding-right: 0;
  border: 1px solid #d2d3d5;
  border-radius: 2px;
  height: 60px;
  font-weight: bold;
  margin-bottom: 10px; }
  .menuback__item {
    float: left;
    direction: ltr;
    padding-left: 0;
    padding-right: 0;
    width: 25%;
    height: 100%;
    display: inline-block;
    line-height: 100%;
    text-align: center;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-decoration: none; }
    @media screen and (max-width: 40.062em) {
      .menuback__item {
        float: left;
        direction: ltr;
        padding-left: 0;
        padding-right: 0; } }
    @media screen and (min-width: 40.063em) {
      .menuback__item {
        float: left;
        direction: ltr;
        padding-left: 0;
        padding-right: 0; } }
    @media screen and (min-width: 64.063em) {
      .menuback__item {
        float: left;
        direction: ltr;
        padding-left: 0;
        padding-right: 0; } }
    .menuback__item.is-active .menuback__item__title {
      border: 1px solid #d2d3d5;
      border-radius: 2px;
      vertical-align: middle;
      color: #898787; }
    .menuback__item__title {
      text-align: center;
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      horizontal-align: middle;
      display: inline-block;
      line-height: 18px;
      width: 150px;
      color: #231f20;
      margin: 0 auto; }

.button {
  border-radius: 2px;
  border-color: #777;
  text-align: center;
  background-color: #231f20;
  color: #fff;
  font-weight: 600;
  height: 40px;
  padding: 8px 18px;
  font-size: 15px;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer; }
  .button:hover {
    background-color: #898787; }
  .button--submit {
    background-color: #39B042;
    color: #fff;
    padding: 5px 12px;
    font-size: 14px;
    text-transform: none;
    height: 28px;
    margin-left: 7px; }
    .button--submit:hover {
      background-color: #27872E; }
  .button--to {
    background-color: #231f20;
    color: #fff;
    font-weight: 600;
    height: 40px;
    padding: 10px 50px 10px 20px;
    font-size: 18px;
    text-transform: uppercase;
    background: url("../images/arrow-button.png") #231f20 center right no-repeat; }
    .button--to:hover {
      background-color: #898787; }
  .button--highlight {
    background-color: #FEF200;
    color: #231f20;
    padding: 7px 20px;
    margin: 20px 0;
    text-transform: uppercase;
    font-weight: normal;
    padding: 7px 20px;
    margin: 20px 0;
    font-size: 1em; }
    .button--highlight:hover {
      background-color: #fff; }
  .button--link {
    text-decoration: underline;
    color: #020002;
    text-transform: none;
    background-color: #fff;
    font-weight: normal;
    padding: 0 0 0 0;
    padding-right: 20px; }
    .button--link:hover {
      background-color: #fff;
      color: #898787;
      text-decoration: none; }

.categories {
  padding-left: 0;
  padding-right: 0;
  position: relative; }

.categorie {
  float: left;
  direction: ltr;
  padding-left: 0;
  padding-right: 0;
  width: 50%;
  position: relative;
  border: 1px solid #898787; }
  @media screen and (max-width: 40.062em) {
    .categorie {
      float: left;
      direction: ltr;
      padding-left: 0;
      padding-right: 0; } }
  @media screen and (min-width: 40.063em) {
    .categorie {
      float: left;
      direction: ltr;
      padding-left: 0;
      padding-right: 0; } }
  @media screen and (min-width: 64.063em) {
    .categorie {
      float: left;
      direction: ltr;
      padding-left: 0;
      padding-right: 0; } }
  .categorie__title {
    display: inline-block;
    height: 150px;
    line-height: 150px;
    width: 100%;
    text-align: center;
    font-size: 22px; }
    .categorie__title:hover + .categorie__items {
      display: block;
      background-color: rgba(137, 135, 135, 0.8); }
  .categorie__items {
    padding: 20px;
    top: 0;
    height: 100%;
    width: 100%;
    display: none;
    position: absolute;
    text-decoration: none; }
    .categorie__items:hover {
      display: block;
      background-color: rgba(137, 135, 135, 0.8); }
  .categorie__item__random {
    width: 100%;
    text-align: justify;
    font-size: 18px;
    color: #fff;
    text-overflow: ellipsis;
    overflow: hidden; }

.image-responsive-schema-reconversion {
  max-width: 914px;
  width: 100%;
  height: auto; }

table {
  border: 1px solid #4E4E4E;
  margin: 0 auto; }

tr {
  height: 30px; }

th {
  background-color: #DADADA;
  border: 1px solid #4E4E4E;
  padding-right: 5px;
  padding-left: 5px;
  font-weight: bold;
  vertical-align: middle; }

td {
  border: 1px solid #4E4E4E;
  padding-right: 5px;
  padding-left: 5px;
  vertical-align: middle; }
  td.is-online {
    background-color: #39B042; }
  td.is-wait {
    background-color: #EDB20E; }

.input {
  display: inline-block;
  font-size: 0.875em;
  font-family: inherit;
  height: 2.3125em;
  margin: 0 0 1em 0;
  width: 100%;
  outline: none;
  border: 1px solid #ccc; }
  .input--checkbox {
    border: none; }
    .input--checkbox .input__control {
      float: left;
      direction: ltr;
      padding-left: 0;
      padding-right: 0;
      width: 8.33333%;
      outline: none;
      cursor: pointer; }
      @media screen and (max-width: 40.062em) {
        .input--checkbox .input__control {
          float: left;
          direction: ltr;
          padding-left: 0;
          padding-right: 0; } }
      @media screen and (min-width: 40.063em) {
        .input--checkbox .input__control {
          float: left;
          direction: ltr;
          padding-left: 0;
          padding-right: 0; } }
      @media screen and (min-width: 64.063em) {
        .input--checkbox .input__control {
          float: left;
          direction: ltr;
          padding-left: 0;
          padding-right: 0; } }
    .input--checkbox .input__label {
      float: left;
      direction: ltr;
      padding-left: 0;
      padding-right: 0;
      width: 83.33333%;
      background: none;
      border: none;
      text-align: left;
      line-height: 1.4125em;
      color: #4d4d4d; }
      @media screen and (max-width: 40.062em) {
        .input--checkbox .input__label {
          float: left;
          direction: ltr;
          padding-left: 0;
          padding-right: 0; } }
      @media screen and (min-width: 40.063em) {
        .input--checkbox .input__label {
          float: left;
          direction: ltr;
          padding-left: 0;
          padding-right: 0; } }
      @media screen and (min-width: 64.063em) {
        .input--checkbox .input__label {
          float: left;
          direction: ltr;
          padding-left: 0;
          padding-right: 0; } }
  .input__control {
    float: left;
    direction: ltr;
    padding-left: 0;
    padding-right: 0;
    width: 75%;
    -webkit-transition: all 150ms linear;
    -moz-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    -ms-transition: all 150ms linear;
    transition: all 150ms linear; }
    @media screen and (max-width: 40.062em) {
      .input__control {
        float: left;
        direction: ltr;
        padding-left: 0;
        padding-right: 0; } }
    @media screen and (min-width: 40.063em) {
      .input__control {
        float: left;
        direction: ltr;
        padding-left: 0;
        padding-right: 0; } }
    @media screen and (min-width: 64.063em) {
      .input__control {
        float: left;
        direction: ltr;
        padding-left: 0;
        padding-right: 0; } }
    .input__control--error {
      background-color: rgba(198, 15, 19, 0.1);
      border-color: #c60f13; }
    .input__control:focus {
      border-color: #a6a6a6;
      outline: none; }
  .input__label {
    float: left;
    direction: ltr;
    padding-left: 0;
    padding-right: 0;
    width: 25%;
    background: #f2f2f2;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    text-align: center;
    line-height: 2.3125em;
    color: #333; }
    @media screen and (max-width: 40.062em) {
      .input__label {
        float: left;
        direction: ltr;
        padding-left: 0;
        padding-right: 0; } }
    @media screen and (min-width: 40.063em) {
      .input__label {
        float: left;
        direction: ltr;
        padding-left: 0;
        padding-right: 0; } }
    @media screen and (min-width: 64.063em) {
      .input__label {
        float: left;
        direction: ltr;
        padding-left: 0;
        padding-right: 0; } }

/*.section__content {
	@include gridle(4.5, large);
	@include gridle(4.5, large);
	@include gridle(6, small);
	@include gridle(6, small);
}*/
.section--connexion .section_content {
  background-color: #eee; }
.section--connexion .section__content__title {
  padding-top: 15px;
  margin: 0 0 30px 0; }
.section--connexion .section__content__body {
  float: left;
  direction: ltr;
  padding-left: 0;
  padding-right: 0;
  width: 50%;
  padding-bottom: 0px;
  background-color: #eee;
  min-height: 300px; }
  @media screen and (max-width: 40.062em) {
    .section--connexion .section__content__body {
      float: left;
      direction: ltr;
      padding-left: 0;
      padding-right: 0; } }
  @media screen and (min-width: 40.063em) {
    .section--connexion .section__content__body {
      float: left;
      direction: ltr;
      padding-left: 0;
      padding-right: 0; } }
  @media screen and (min-width: 64.063em) {
    .section--connexion .section__content__body {
      float: left;
      direction: ltr;
      padding-left: 0;
      padding-right: 0; } }
.section--connexion .section__content__body:last-child {
  text-align: center;
  font-size: 250px;
  width: 50%;
  background-color: #fff;
  color: #EEEEEE; }

.button--connexion {
  display: block;
  margin-bottom: 10px;
  width: 100%; }

.link--connexion {
  color: black; }

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #fff; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #fff;
  opacity: 1; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #fff;
  opacity: 1; }

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #fff; }

body .input__control {
  padding: 0.5em; }

body .section--connexion .section__content__body {
  padding: 15px; }
