/*.section__content {
	@include gridle(4.5, large);
	@include gridle(4.5, large);
	@include gridle(6, small);
	@include gridle(6, small);
}*/
.section--connexion {
	.section_content {
		background-color: #eee;
	}
	.section__content__title{
		padding-top: 15px;
		margin: 0 0 30px 0;
	}

	.section__content__body {
		@include gridle(6);
		padding-bottom: 0px;
		background-color : #eee;
		min-height : 300px;
	}
	.section__content__body:last-child {
		text-align: center;
		@include icon('lock');
		font-size: 250px;
		width: 50%;
		background-color: #fff;
		color:#EEEEEE;
	}
}

.button--connexion{
	display: block;
	margin-bottom: 10px;
	width: 100%;
}

.link--connexion{
	color:black;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #fff;
}
