<script id="produit-template" type="text/html">
        <div class="liste__item <%= liste__item__class %>">
              <a href="/produits/<%= _fid %>" class="liste__item__etiquette">
                <img class="liste__item__etiquette__img" alt="img" src="/assets/images/logo-cap-coherence.png">
                <div class="liste__item__etiquette__volet">
                  <span class="liste__item__etiquette__volet__title"><%= nom %>
                    <span class="liste__item__etiquette__volet__iconerubrique"></span>
                  </span>
                  <span class="liste__item__etiquette__volet__description"><%= description %>
                  </span>
                </div>
              </a>
            </div>
    </script>