<% @special_template = capture do %>

  <section class="l-section section">
    <div class="section__content section__content--wide">
      <h3 class="section__content__title">Nous vous aidons dans vos recherches</h3>
      <div class="section__content__body">
        <div class="categories categories--block">
          <div class="categorie">
            <h4 class="categorie__title">Formations</h4>
            <a href="/listeProduit.html?categories=formation&etapes=constat,analyse,action,decision,cap" class="categorie__items">
              <p class="categorie__item__random">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit.</p>
              <p class="categorie__item__random">Réaliser un bilan comptable</p>
              <p class="categorie__item__random">Comment faire un bilan de compétence</p>
            </a>
          </div>
          <div class="categorie">
            <h4 class="categorie__title">eBook</h4>
            <a href="/listeProduit.html?categories=ebook&etapes=constat,analyse,action,decision,cap" class="categorie__items">
              <p class="categorie__item__random">Finances</p>
              <p class="categorie__item__random">Réaliser un bilan comptable</p>
              <p class="categorie__item__random">Comment faire un bilan de compétence</p>
            </a>
          </div>
          <div class="categorie">
            <h4 class="categorie__title">Bibliothèque</h4>
            <a href="/listeProduit.html?categories=bibliotheque&etapes=constat,analyse,action,decision,cap" class="categorie__items">
              <p class="categorie__item__random">Fnances</p>
              <p class="categorie__item__random">Réaliser un bilan comptable</p>
              <p class="categorie__item__random">Comment faire un bilan de compétence</p>
            </a>
          </div>
          <div class="categorie">
            <h4 class="categorie__title">Outils</h4>
            <a href="/listeProduit.html?categories=outil&etapes=constat,analyse,action,decision,cap" class="categorie__items">
              <p class="categorie__item__random">Fnances</p>
              <p class="categorie__item__random">Réaliser un bilan comptable</p>
              <p class="categorie__item__random">Comment faire un bilan de compétence</p>
            </a>
          </div>
        </div>
      </div>
      <div class="section__content__body">
               <img name="immap"src="/assets/images/schema-reconversion/schema_vide.png" hidefocus="true" width="914" height="585" alt="Etapes de reconversion" usemap="#etapesReconversion" class="image-responsive-schema-reconversion">
        <map name="etapesReconversion" class="etapes-reconversion" >
          <!-- petites bulles de constat -->
          <area shape="circle" class="etapes-reconversion__item" coords="110,284,32" href="/listeProduit.html?categories=formation&etapes=constat" alt="Constat: Formation" onmouseover="document.images['immap'].src = '/assets/images/schema-reconversion/schema_constat.png';" onmouseout="document.images['immap'].src = '/assets/images/schema-reconversion/schema_vide.png';"/>
          <area shape="circle" class="etapes-reconversion__item" coords="182,325,32" href="/listeProduit.html?categories=ebook&etapes=constat" alt="Constat: EBooks" onmouseover="document.images['immap'].src = '/assets/images/schema-reconversion/schema_constat.png';" onmouseout="document.images['immap'].src = '/assets/images/schema-reconversion/schema_vide.png';"/>
          <area shape="circle" class="etapes-reconversion__item" coords="215,398,32" href="/listeProduit.html?categories=outil&etapes=constat" alt="Constat: Outils" onmouseover="document.images['immap'].src = '/assets/images/schema-reconversion/schema_constat.png';" onmouseout="document.images['immap'].src = '/assets/images/schema-reconversion/schema_vide.png';"/>
          <area shape="circle" class="etapes-reconversion__item" coords="182,471,32" href="/listeProduit.html?categories=bibliotheque&etapes=constat" alt="Constat: Biblio" onmouseover="document.images['immap'].src = '/assets/images/schema-reconversion/schema_constat.png';" onmouseout="document.images['immap'].src = '/assets/images/schema-reconversion/schema_vide.png';"/>
          <!-- grosse bulle de constat -->
          <area shape="circle" class="etapes-reconversion" coords="130,385,135" href="/listeProduit.html?categories=formation,bibliotheque,outil,ebook&etapes=constat" alt="Le Constat" onmouseover="document.images['immap'].src = '/assets/images/schema-reconversion/schema_constat.png';" onmouseout="document.images['immap'].src = '/assets/images/schema-reconversion/schema_vide.png';"  />
          <!-- petites bulles de analyse -->
          <area shape="circle" class="etapes-reconversion__item" coords="450,284,32" href="/listeProduit.html?categories=formation&etapes=analyse" alt="Analyse: Formation" onmouseover="document.images['immap'].src = '/assets/images/schema-reconversion/schema_analyse.png';" onmouseout="document.images['immap'].src = '/assets/images/schema-reconversion/schema_vide.png';"/>
          <area shape="circle" class="etapes-reconversion__item" coords="524,325,32" href="/listeProduit.html?categories=ebook&etapes=analyse" alt="Analyse: EBooks" onmouseover="document.images['immap'].src = '/assets/images/schema-reconversion/schema_analyse.png';" onmouseout="document.images['immap'].src = '/assets/images/schema-reconversion/schema_vide.png';"/>
          <area shape="circle" class="etapes-reconversion__item" coords="555,398,32" href="/listeProduit.html?categories=outil&etapes=analyse" alt="Analyse: Outils" onmouseover="document.images['immap'].src = '/assets/images/schema-reconversion/schema_analyse.png';" onmouseout="document.images['immap'].src = '/assets/images/schema-reconversion/schema_vide.png';"/>
          <area shape="circle" class="etapes-reconversion__item" coords="523,471,32" href="/listeProduit.html?categories=bibliotheque&etapes=analyse" alt="Analyse: Biblio" onmouseover="document.images['immap'].src = '/assets/images/schema-reconversion/schema_analyse.png';" onmouseout="document.images['immap'].src = '/assets/images/schema-reconversion/schema_vide.png';"/>
          <!-- grosse bulle de analyse -->
          <area shape="circle" class="etapes-reconversion" coords="470,385,135" href="/listeProduit.html?categories=formation,bibliotheque,outil,ebook&etapes=analyse" alt="L'analyse" onmouseover="document.images['immap'].src = '/assets/images/schema-reconversion/schema_analyse.png';" onmouseout="document.images['immap'].src = '/assets/images/schema-reconversion/schema_vide.png';" />
          <!-- petites bulles de décision -->
          <area shape="circle" class="etapes-reconversion__item" coords="415,37,32" href="/listeProduit.html?categories=formation&etapes=decision" alt="Decision: Formation" onmouseover="document.images['immap'].src = '/assets/images/schema-reconversion/schema_decision.png';" onmouseout="document.images['immap'].src = '/assets/images/schema-reconversion/schema_vide.png';"/>
          <area shape="circle" class="etapes-reconversion__item" coords="495,55,32" href="/listeProduit.html?categories=ebook&etapes=decision" alt="Decision: EBooks" onmouseover="document.images['immap'].src = '/assets/images/schema-reconversion/schema_decision.png';" onmouseout="document.images['immap'].src = '/assets/images/schema-reconversion/schema_vide.png';"/>
          <area shape="circle" class="etapes-reconversion__item" coords="540,123,32" href="/listeProduit.html?categories=outil&etapes=decision" alt="Decision: Outils" onmouseover="document.images['immap'].src = '/assets/images/schema-reconversion/schema_decision.png';" onmouseout="document.images['immap'].src = '/assets/images/schema-reconversion/schema_vide.png';"/>
          <area shape="circle" class="etapes-reconversion__item" coords="541,198,32" href="/listeProduit.html?categories=bibliotheque&etapes=decision" alt="Decision: Biblio" onmouseover="document.images['immap'].src = '/assets/images/schema-reconversion/schema_decision.png';" onmouseout="document.images['immap'].src = '/assets/images/schema-reconversion/schema_vide.png';"/>
          <!-- grosse bulle de décision -->
          <area shape="circle" class="etapes-reconversion" coords="460,135,135" href="/listeProduit.html?categories=formation,bibliotheque,outil,ebook&etapes=decision" alt="La décision" onmouseover="document.images['immap'].src = '/assets/images/schema-reconversion/schema_decision.png';" onmouseout="document.images['immap'].src = '/assets/images/schema-reconversion/schema_vide.png';" />
          <!-- petites bulles de action -->
          <area shape="circle" class="etapes-reconversion__item" coords="838,325,32" href="/listeProduit.html?categories=formation&etapes=action" alt="Action: Formation" onmouseover="document.images['immap'].src = '/assets/images/schema-reconversion/schema_action.png';" onmouseout="document.images['immap'].src = '/assets/images/schema-reconversion/schema_vide.png';"/>
          <area shape="circle" class="etapes-reconversion__item" coords="869,398,32" href="/listeProduit.html?categories=ebook&etapes=action" alt="Action: EBooks" onmouseover="document.images['immap'].src = '/assets/images/schema-reconversion/schema_action.png';" onmouseout="document.images['immap'].src = '/assets/images/schema-reconversion/schema_vide.png';"/>
          <area shape="circle" class="etapes-reconversion__item" coords="838,471,32" href="/listeProduit.html?categories=outil&etapes=action" alt="Action: Outils" onmouseover="document.images['immap'].src = '/assets/images/schema-reconversion/schema_action.png';" onmouseout="document.images['immap'].src = '/assets/images/schema-reconversion/schema_vide.png';"/>
          <area shape="circle" class="etapes-reconversion__item" coords="769,515,32" href="/listeProduit.html?categories=bibliotheque&etapes=action" alt="Action: Biblio" onmouseover="document.images['immap'].src = '/assets/images/schema-reconversion/schema_action.png';" onmouseout="document.images['immap'].src = '/assets/images/schema-reconversion/schema_vide.png';"/>
          <!-- grosse bulle de action -->
          <area shape="circle" class="etapes-reconversion" coords="789,415,135" href="/listeProduit.html?categories=formation,bibliotheque,outil,ebook&etapes=action" alt="L'action" onmouseover="document.images['immap'].src = '/assets/images/schema-reconversion/schema_action.png';" onmouseout="document.images['immap'].src = '/assets/images/schema-reconversion/schema_vide.png';" />
          <!-- petites bulles de CAP -->
          <area shape="circle" class="etapes-reconversion__item" coords="728,41,32" href="/listeProduit.html?categories=formation&etapes=cap" alt="Cap: Formation" onmouseover="document.images['immap'].src = '/assets/images/schema-reconversion/schema_cap.png';" onmouseout="document.images['immap'].src = '/assets/images/schema-reconversion/schema_vide.png';"/>
          <area shape="circle" class="etapes-reconversion__item" coords="807,58,32" href="/listeProduit.html?categories=ebook&etapes=cap" alt="Cap: EBooks" onmouseover="document.images['immap'].src = '/assets/images/schema-reconversion/schema_cap.png';" onmouseout="document.images['immap'].src = '/assets/images/schema-reconversion/schema_vide.png';"/>
          <area shape="circle" class="etapes-reconversion__item" coords="852,126,32" href="/listeProduit.html?categories=outil&etapes=cap" alt="Cap: Outils" onmouseover="document.images['immap'].src = '/assets/images/schema-reconversion/schema_cap.png';" onmouseout="document.images['immap'].src = '/assets/images/schema-reconversion/schema_vide.png';"/>
          <area shape="circle" class="etapes-reconversion__item" coords="853,201,32" href="/listeProduit.html?categories=bibliotheque&etapes=cap" alt="Cap: Biblio" onmouseover="document.images['immap'].src = '/assets/images/schema-reconversion/schema_cap.png';" onmouseout="document.images['immap'].src = '/assets/images/schema-reconversion/schema_vide.png';"/>
          <!-- grosse bulle de CAP -->
          <area shape="circle" class="etapes-reconversion" coords="775,135,135" href="/listeProduit.html?categories=formation,bibliotheque,outil,ebook&etapes=cap" alt="CAP" onmouseover="document.images['immap'].src = '/assets/images/schema-reconversion/schema_cap.png';" onmouseout="document.images['immap'].src = '/assets/images/schema-reconversion/schema_vide.png';" />
           <!-- petites bulles Généralité -->
           <area shape="circle" class="etapes-reconversion__item" coords="83,38,32" href="/listeProduit.html?categories=formation" alt="Généralités: Formation" onmouseover="document.images['immap'].src = '/assets/images/schema-reconversion/schema_generalite.png';" onmouseout="document.images['immap'].src = '/assets/images/schema-reconversion/schema_vide.png';"/>
          <area shape="circle" class="etapes-reconversion__item" coords="163,55,32" href="/listeProduit.html?categories=ebook" alt="Généralités: EBooks" onmouseover="document.images['immap'].src = '/assets/images/schema-reconversion/schema_generalite.png';" onmouseout="document.images['immap'].src = '/assets/images/schema-reconversion/schema_vide.png';"/>
          <area shape="circle" class="etapes-reconversion__item" coords="208,123,32" href="/listeProduit.html?categories=outil" alt="Généralité: Outils" onmouseover="document.images['immap'].src = '/assets/images/schema-reconversion/schema_generalite.png';" onmouseout="document.images['immap'].src = '/assets/images/schema-reconversion/schema_vide.png';"/>
          <area shape="circle" class="etapes-reconversion__item" coords="209,198,32" href="/listeProduit.html?categories=bibliotheque" alt="Généralités: Biblio" onmouseover="document.images['immap'].src = '/assets/images/schema-reconversion/schema_generalite.png';" onmouseout="document.images['immap'].src = '/assets/images/schema-reconversion/schema_vide.png';"/>
          <!-- grosse bulle de Généralité -->
          <area shape="circle" class="etapes-reconversion" coords="130,132,135" href="/listeProduit.html?categories=formation,bibliotheque,outil,ebook" alt="Généralités" onmouseover="document.images['immap'].src = '/assets/images/schema-reconversion/schema_generalite.png';" onmouseout="document.images['immap'].src = '/assets/images/schema-reconversion/schema_vide.png';" />
        </map>
      </div>
    </div>
  </section>


  <script>
    $(document).ready(function (e) {
      $('img[usemap]').rwdImageMaps();
    });
  </script>

<% end %>
