.header{
    @include gridle_parent();
        &__logo{
            @include gridle(7);
            @include gridle(12,small);
            //float: left;
            //width: 475px;
            height: 134px;
            background: url("#{$images_path}/logo-cap-coherence.png")  no-repeat;
            background-size: 505px;
        }
        
    &__client{
        //@include gridle_parent(); 
        @include gridle(12);
        text-align: right;
        padding-right: 20px;
        display: inline-block;
        float: right;
        //width: 408px;
        position: relative;
    }
}

.identify{
        @include gridle_parent();
        @include gridle(5);
        @include gridle(12,small);
        text-align: right;
        padding-right: 20px;
        display: inline-block;
        float: right;
        //width: 408px;
        position: relative;
}
.client {
        &__login {
            @include icon('user');
            position: absolute;
            right: 27px;
        }
        
        &__newsletter {
            position: relative;
            height: 104px;
            width: 320px;
            //margin: 26px 20px 0px 48px;
            margin-right: 40px;
            margin-top: 26px;
            padding: 10px;
            background-color: #F6F6F6;
            display: block;
            float: right;
            
            
            &__picto {
                position: absolute;
                top: 17px;
                left: 15px;
                width: 25px;
                display: inline-block;
            }
            
        p{
            margin-left: 46px;
            color: black;
            font-size: 13px;
            line-height: 20px;
            margin-bottom: 0;
            text-align: left;
        }
        }
}

.expert{
        &__login{
            //padding-right: 150px;
            @include icon('user');
            position: absolute;
            float: right;
            right: 150px;
        }
}