<% case params[:status]%>
<% when "403"%>
	<center><img src="http://www.quickmeme.com/img/f7/f7a34f10f1d58983eccad9ffcac2908f065f088ba335c22b9a4ecec8c9caf01a.jpg"></center>
<% else %>
	<h1>Erreur inconnue</h1>
<% end %>
