.button {
    background-color: $color-green;
    &--primary {
        background-color: $color-green;
        width: 100px;
    }
    
    &--to {
        
        
    }
    
    &--link {
        
        
    }
}