$color-blue: #00AEEF;
$color-blue-word: #0C57BD;
$color-green: #39B042;
$color-green-hover: #27872E;
$color-yellow: #FEF200;
$color-orange: #EDB20E;
$color-red: #FF0000;

$color-white: #fff;
$color-black: #231f20;
$color-grey-white: #DADADA;
$color-grey: #898787;
$color-grey-black: #4E4E4E;

$color-constat : #9d9d9c ;
$color-analyse : #00A0E0;
$color-decision : #96AC32;
$color-action : #F8B142;
$color-cap : #FFDB0A;

$categorie-background-color-item : #d2d3d5;
$categorie-font-color-item : $color-white;

$input-error-background-color : rgba(198,15,19,0.1);
$input-error-border-color : #c60f13;

$connexion-color-grey : #eee;

$formulaire-label-color: #f2f2f2;

$menu-item-color : rgb(88, 89, 91);