$color-blue: #00AEEF;
$color-green: #39B042;
$color-green-hover: #27872E;
$color-yellow: #FEF200;
$color-orange: #EDB20E;
$color-red: #FF0000;

$color-white: #fff;
$color-black: #231f20;
$color-grey-white: #DADADA;
$color-grey: #898787;
$color-grey-black: #4E4E4E;

$color-constat : #9d9d9c ;
$color-analyse : #00A0E0;
$color-decision : #96AC32;
$color-action : #F8B142;
$color-cap : #FFDB0A;