$body-width: 61.250em;

$assets_path: '/assets';
$assets_dir_path: "#{$assets_path}/";

$images_path: "#{$assets_path}/images";
$images_dir_path: "#{$images_path}/";

$fonts_path: "#{$assets_path}/fonts";
$fonts_dir_path: "#{$fonts_path}/";