$border-section-title-width : 3px 0;
$border-section-title-type : solid #020001;
$border-section-body : 1px solid #d2d3d5;
//$margin-section : 15px;
$padding-section-content-important : 30px !important;
$uppercase-section-title : uppercase;