<div class="formation">	
	<div class=" formation__title formation__title--composition"> Composition d'une formation </div>

	<div class=" formation__title formation__title--selection"> Réorganiser la sélection</div>

	<div class="formation__liste">
		<div class="button-container">
			<%= link_to "Retour à la gestion des formation", formations_path, :class => "button button__back button__back--formation--retour" %>
		</div>
		<div id="jstree"></div>
	</div>
	
	<div class="formation__edit">
		<div class="field field--back">
	      <span class="field__label">Etape de reconversion </span>
	      <%= select_tag(:tag, options_from_collection_for_select(Tag.all, :id, :nom), class: "field__control field__control--select") %>
	  </div>
		<div class="field field--back">
	    	<span class="field__label">Prix</span>
	    	<%= text_field_tag( :nom, nil,class: "field__control--formation") %>
		<div class="button-container">
			<a id="moveUp" class="button button__back button--up"></a>
			<a id="moveDown" class="button button__back button--down"></a>
		</div>
		</div>

		<div class="button-container">
			<button id="createChapitre" class="button button__back button__back--formation--edit"> Créer un chapitre </button>
			<button class="button button__back button__back--formation--edit"> Créer un module </button>
		</div>

		<div class="button-container">
			<button class="button button__back button__back--formation--edit"> Modifier la sélection </button>
			<button id="deleteChapitre" class="button button__back button__back--formation--edit">Supprimer la sélection </button>
		</div>
	</div>
</div>

	<script src="/assets/javascripts/hierarchie.js"></script>