	<div class="formation__title"> Composition d'une formation </div>

	<div class="formation__liste">
		<div id="jstree">
			<ul class="#">
		      <li class="file">Module 1
		        <ul>
		       		<li class="jstree-chapitre">Chapitre 1</li>
		        	<li class="jstree-chapitre">Chapitre 2</li>
		      	</ul>
		      </li>
		      <li class="file">Module 2
		      	<ul>
		       		<li class="jstree-chapitre">Chapitre 1</li>
		        	<li class="jstree-chapitre">Chapitre 2</li>
		      	</ul>
		      </li>
		    </ul>
		</div><!-- 
		<button>demo button</button> -->
		<div id="event_result"> </div>
	</div>
	<div class="formation__edit">
		<button id="createChapitre" class="button button__back button__back--formation"> Créer un chapitre </button>
		<button class="button button__back button__back--formation"> Créer un module </button>
		<button class="button button__back button__back--formation"> Modifier la sélection </button>
		<button id="deleteChapitre" class="button button__back button__back--formation">Supprimer la sélection </button>
	</div>

	<script src="/assets/javascripts/hierarchie.js"></script>