<p id="notice"><%= notice %></p>

<p>
  <strong>Extension:</strong>
  <%= @extension_fichier.extension %>
</p>

<%= link_to 'Edit', edit_extension_fichier_path(@extension_fichier) %> |
<%= link_to 'Back', extension_fichiers_path %>
