.button {
    border-radius: 2px;
    border-color: #777;
    text-align: center;
    background-color: $color-black;
    color: $color-white;
    font-weight: 600;
    height: 40px;
    padding: 8px 18px;
    font-size: 15px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    &:hover{
            background-color: $color-grey;
    }
  
    &--submit {
        background-color: $color-green;
        color: $color-white;
        padding:5px 12px;
        font-size: 14px;
        text-transform: none;
        height: 28px;
        margin-left: 7px;
            &:hover{
                background-color: $color-green-hover;
            }
    }
    
    &--to{
        background-color: $color-black;
        color: $color-white;
        font-weight: 600;
        height: 40px;
        padding: 10px 50px 10px 20px;
        font-size: 18px;
        text-transform: uppercase;
        background: url("../images/arrow-button.png") #231f20 center right no-repeat;
        &:hover{
                background-color: $color-grey;
        }
    }
    
    &--highlight {
        background-color: $color-yellow;
        color: $color-black;
        padding: 7px 20px;
        margin: 20px 0;
        text-transform: uppercase;
        font-weight: normal;
        padding: 7px 20px;
        margin: 20px 0;
        font-size: 1em;
        &:hover{
                background-color: $color-white;
        }
    }
    
    &--link{
        text-decoration: underline;
        color: #020002;
        text-transform: none;
        background-color: $color-white;
        font-weight: normal;
        padding: 0 0 0 0;
        padding-right: 20px;
        &:hover{
                    background-color: $color-white;
                    color: $color-grey;
                    text-decoration: none;
        }
    }
}