
.button {
    border-radius: 2px;
    border-color: #777;
    text-align: center;
    background-color: $color-black;
    color: $color-white;
    font-weight: 600;
    height: 40px;
    padding: 8px 18px;
    font-size: 15px;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    &:hover{
            background-color: $color-grey;
    }
  
    &--submit {
        background-color: $color-green;
        color: $color-white;
        padding:5px 12px;
        font-size: 14px;
        text-transform: none;
        height: 28px;
        margin-left: 7px;
            &:hover{
                background-color: $color-green-hover;
            }
    }
    
    &--to{
        background-color: $color-black;
        color: $color-white;
        font-weight: 600;
        height: 40px;
        padding: 10px 50px 10px 20px;
        font-size: 18px;
        text-transform: uppercase;
        background: url("../images/arrow-button.png") #231f20 center right no-repeat;
        &:hover{
                background-color: $color-grey;
        }
    }
    
    &--highlight {
        background-color: $color-yellow;
        color: $color-black;
        padding: 7px 20px;
        margin: 20px 0;
        text-transform: uppercase;
        font-weight: normal;
        padding: 7px 20px;
        margin: 20px 0;
        font-size: 1em;
        &:hover{
                background-color: $color-white;
        }
    }
    
    &--link{
        text-decoration: underline;
        color: #020002;
        text-transform: none;
        background-color: $color-white;
        font-weight: normal;
        padding: 0 0 0 0;
        padding-right: 20px;
        &:hover{
                    background-color: $color-white;
                    color: $color-grey;
                    text-decoration: none;
        }
    }

    &-filter{
        @extend .button;
        @include transition(1s);
        background-color: white;
        color : black;
        outline: none;
        background-size: 200% 100%;
        background-position:right bottom;
        &--constat{
            border-left: 15px solid $color-constat;
            @include linear-gradient-right($color-constat, white,50% , $color-constat , 50%);
            &.is-active{
                background-color : $color-constat;
                background-position:left bottom;
            }
        }
        &--analyse{
            border-left: 15px solid $color-analyse;
            @include linear-gradient-right($color-analyse, white, 50%, $color-analyse, 50%);
            &.is-active{
                background-color : $color-analyse;
                background-position:left bottom;
            }
        }
        &--decision{
            border-left: 15px solid $color-decision;
            @include linear-gradient-right($color-decision, white,50% , $color-decision , 50%);
            &.is-active{
                background-color : $color-decision;
                background-position:left bottom;
            }
        }
        &--action{
            border-left: 15px solid $color-action;
            @include linear-gradient-right($color-action, white, 50%, $color-action, 50%);
            &.is-active{
                background-color : $color-action;
                background-position:left bottom;
            }
        }
        &--cap{
            border-left: 15px solid $color-cap;
            @include linear-gradient-right($color-cap, white, 50%, $color-cap, 50%);
            &.is-active{
                background-color : $color-cap;
                background-position:left bottom;
            }
        }
    }

    &-categorie{
        border : none;
        outline: none;
        text-transform: uppercase;
        background-color: white;
        font-size: 24px;
        color : black;
        &:hover{
            background-color: $color-grey;
        }
        &.is-active{
            background-color: $color-grey;
        }
        &--formation{
            @include icon('list-ol');
        }
        &--ebook{
            @include icon('book');
        }
        &--bibliotheque{
            @include icon('apple');
        }
        &--outil{
            @include icon('th');
        }
    }
}