
.categories{
	@include 	gridle_parent();
	position: 	relative;
}
.categorie {
	@include 	gridle(6);
	position: 	relative;
	border: 	1px solid $categorie-background-color-item;
	border-right:0;
	margin: 0 1px -1px -1px;

	&__title{
		display:		inline-block;
		height: 		150px;
		line-height: 	150px;
		width: 			100%;
		text-align: 	center;
		font-size: 		22px;
		&:hover + .categorie__items {
			display: 			block;
			background-color: 	rgba($categorie-background-color-item, 0.8);
		}
	}

	&__items{
		padding: 			20px;
		top:				0;
		height: 			100%;
		width: 				100%;
		display: 			none;
		position: 			absolute;
		text-decoration: 	none;
		&:hover {
			display: 			block;
			background-color: 	rgba($categorie-background-color-item, 0.8);
		}
	}

	&__item{
		
		&__random{
			width: 100%;
			text-align: 	justify;
			font-size: 		18px;
			color: 			$categorie-font-color-item;
			text-overflow: 	ellipsis;
			overflow: 		hidden;

		}
	}
}