.formulaire {
  @include gridle_parent();
	&--back{
	}
}

.field {
  @include gridle(12);
  @include gridle_centered();
  @include gridle_parent();
  display : inline-block;
  font : {
    size : 0.875em;
    family : inherit;
  }
  height: $formulaire-field-height;
  margin-bottom: $formulaire-field-height/2;
  outline: none;

  &__label {
    //@include gridle(3);
    //background: $formulaire-label-color;
    //overflow : hidden;
    //text-decoration: strong;
    font-weight: bold;
    text-align : left;
    color : #333;
    //line-height: $formulaire-field-height;
    //border : $formulaire-field-border;
    //border-right: none;
    //height: 100%;
    //margin-top: 7px;
    
  }

  &__control {
    @include gridle(12);
    @include transition(all 150ms linear);
    border-radius: 5px;
    border: $formulaire-field-border;
    //height: 100%;

    &:focus {
      outline: none;
    }

    &--select {
    }

    &--formation{
      @include gridle(6);
    }
  }

  &--checkbox {
    .field__control {
      @include gridle(1);
      @include vertical-align();
      height: $formulaire-field-height/2;
      outline: none;
      cursor: pointer;
      padding: 0 0 0 0;
      margin: 0 0 0 0;
    }

    .field__label {
      @include gridle(10);
      @include vertical-align();
      //border: $formulaire-field-border;
      background: none;
      color : $color-black;
    }
  }

  &--textarea {
    //height: $formulaire-field-height*2;

    .field__control {
      resize: vertical;
    }
  }

  &--back {
    @include gridle(9);
    //margin-top: 50px;
    .field__label {
      @include gridle(12);
      //background: $formulaire-label-color;
      overflow : hidden;
      //text-align : center;
      //line-height: 2.3125em;
      color : $color-black;
    }
    
    .field__control {
      &--select {

      }
    }

  }
}

.error_explanation {
  margin: 10px;
  padding: 10px;
  padding-left: 20px;
  color: $color-red;
  border-left: 4px solid $color-red;
  background-color: lighten($color-red, 40%);
}


