.input{
	display : inline-block;
	font : {
		size : 0.875em;
		family : inherit;
	}
	height: 2.3125em;
	margin: 0 0 1em 0;
	width : 100%;
	outline : none;
	border : $input-border;

	&--checkbox {
		border: none;
		.input__control {
			@include gridle(1);
			outline: none;
			cursor: pointer;
		}

		.input__label{
			@include gridle(10);
			background: none;
			border : none;
			text-align: left;
			line-height: 1.4125em;
			color : #4d4d4d;
		}

	}

	&__control{
		@include gridle(9);
		@include transition(all 150ms linear);

		&--error{
			background-color : $input-error-background-color;
			border-color : $input-error-border-color;
		}

		&:focus{
			border-color : lighten(black , 65%);
			outline: none;
		}

	}
	
	&__label{
		@include gridle(3);
		background: #f2f2f2;
		border-style : solid;
		border-width : 1px;
		overflow : hidden;
		text-align : center;
		line-height: 2.3125em;
		color : #333;
	}
}
