.menuback {
    @include gridle_parent();
    border: 1px solid #d2d3d5;
    border-radius: 2px;
    height: 60px;
    font-weight: bold;
    margin-bottom: 10px;
    //vertical-align: middle;
    
        &__item{
            @include gridle(3);
            height: 100%;
            display: inline-block;
            line-height: 100%;
            text-align: center;
             @include vertical-align();
             //vertical-align: middle;
             text-decoration: none;
            
            &.is-active {
                .menuback__item__title{
                    border: 1px solid #d2d3d5;
                    border-radius: 2px;
                    vertical-align: middle;
                    color: $color-grey;
                }
            }
            
            &__title{
                text-align: center;
                @include vertical-align();
                horizontal-align: middle;
                display: inline-block;
                line-height: 18px;
                width: 150px;
                color: $color-black;
                margin: 0 auto;
             
            }
        }
}
