.menu {

	@include gridle_parent();
	border-bottom: 1px solid #d2d3d5;
	height: $menu-height;

	&__item {
		@include gridle_hide('small');
		@include gridle(1.85, 'medium large');
		display: inline-block;
		height: $menu-height;
		border-right: $menu-border-right;
		text-decoration: none;
		color: $menu-item-color;
		line-height: $menu-height;
		text-align: center;
    	@include vertical-align();

		&.is-active {
			background-color: #eee;
		}

		&:hover {
			background-color: #898787;
			color: $color-white;
		}

		&--last {
			// @include gridle(1.5);
			border-right: none;
		}

	    &--cart {
	        background-color: $color-blue;
	    }

		&--first {
			@include gridle_show('small');
			@include gridle(2,'small');
			@include gridle(0.9, 'medium large');
		}

		&__title {
			font-size: 14px;
			line-height: 18px;
			font-weight: normal;
			text-transform: uppercase;
            display: inline-block;
            vertical-align: middle;
            text-align: center;

			&--home {
				width: 24px;
				height: 21px;
				background: url("#{$images_path}/picto-home.png") left bottom no-repeat;
			}
		}

		&__body {
			display: block;
			font-size: 13px;
			font-style: italic;
			text-transform: lowercase;
		}
		&__select {
			@include gridle_centered();
			height: 45px;
			width: 80%;
			display : inline-block;
		}
	}
}


body .menu__item--icon{
	@include gridle_hide('medium');
	@include gridle_hide('large');
	@include gridle_show('small');
	@include gridle(10);
	padding: 20px;
}
nav ul {
	display:none;
}