.produit {
  @include gridle_parent();
  position: relative; 
  &__general {
    @include gridle(8);
    padding: 30px;
    border-right: $border-section-body;
    
    &__title {
      text-transform : uppercase;
      font-size: 18px;
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 7px;
      text-decoration: underline;
    }
    
    &__prix{
      padding-left: 30px;
      padding-right: 30px;
      padding: 10px;
      font-size: 18px;
    }
    
    &__description {
      padding-left: 30px;
      
      padding-right: 30px;
      margin-bottom: 10px;
      margin-top: 10px;
    }
    
    &__image{
      padding-left: 30px;
      padding-right: 30px;
      margin-top: 10px;
    }
    
    &__description-courte  {
      
      margin-bottom: 14px;
      padding-bottom: 7px;
      font-size: 15px;
      color: $color-grey-black;
    }
  }
  &__detail {
    @include gridle(4);
    @include gridle_parent();
    position: relative;
    
    &__grey {
      @include gridle(11);
      background-color: $color-grey-white;
      vertical-align : middle;
      min-height: 100px;
      margin-top: 10px;
      margin-left: 15px;
      margin-right: 15px;
      &__title {
        text-transform : uppercase;
        text-align: center;
        font-size: 20px;
        padding: 10px;
      }
      
      
      &__lien {
        padding: 10px;
        position: absolute;
        bottom: 0;
        text-align: center;
        vertical-align: bottom;
        left:0;
        right:0;
        margin-left:auto;
        margin-right:auto;
        &--video {
          
        }
        &--son {
          
        }
        &--word {
          @include icon('file-word-o');
          color: $color-blue-word;
        }
        &--pdf {
          @include icon("file-pdf-o");
          color: $color-red;
        }
        &--excel {
          @include icon("file-excel-o");
          color: $color-green;
        }
        &--image {
          @include icon("file-image-o");
        }
        &--fichier {
          @include icon("file-o");
        }
      }
    }
  }
  
  &__etape{
    border-bottom: $border-section-body;
    border-top: $border-section-body;
    padding: 30px;
    background-color: $color-grey;
    color: $color-white;
    text-transform : uppercase;
  }
  
  &__retour{
    border-bottom: $border-section-body;
    border-top: $border-section-body;
    padding: 30px;
    text-align: left;
    &__bouton{
      background-color: $color-grey-white;
      color: $color-black;
      border: 1px solid $color-grey;
      border-radius: 5px;
      font-size: 13px;
      cursor: pointer;
      @include icon('arrow-left');
    }
  }
}


