.description__produit p {
	margin-bottom: 14px;

}
.image__produit{
	@include gridle(8, large);
}
.image__produit img{
	width: 100%;
	height: auto;
}
.detail__produit{
	@include gridle(4, large);
	height: 50px;
	border: 1px solid #cfcfcf;
}
