table {
    border: 1px solid $color-grey-black;
    margin: 0 auto;
}

tr {
    height: 30px;
}

th {
    background-color: $color-grey-white;
    border: 1px solid $color-grey-black;
    padding-right: 5px;
    padding-left: 5px;
    font-weight: bold;
    vertical-align: middle;
}

td {
    border: 1px solid $color-grey-black;
    padding-right: 5px;
    padding-left: 5px;
    vertical-align: middle;
    
        &.is-online {
            background-color: $color-green;
        }
        
    &.is-wait {
        background-color: $color-orange;
    }
}