table {
    border: 1px solid $color-grey-black;
    margin: 0 auto;
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100%;
}

tr {
    height: 30px;
}

th {
    background-color: $color-grey-white;
    border: 1px solid $color-grey-black;
    padding-right: 5px;
    padding-left: 5px;
    font-weight: bold;
    vertical-align: middle;
    .sort{
        @include icon('sort');
        &:before{
            padding-right: 5px;
        }
        &--asc{
            @include icon('sort-desc');
        }
        &--desc{
            @include icon('sort-up');
        }
    }

}

td {
    border: 1px solid $color-grey-black;
    padding-right: 5px;
    padding-left: 5px;
    vertical-align: middle;
    
        &.is-online {
            background-color: $color-green;
        }
        
    &.is-wait {
        background-color: $color-orange;
    }
}

@media screen and (max-width: 1190px) {
    table {
        overflow-x: auto;
        display: block;
    }
}
