body .input__control{
  padding : 0.5em;
}

body .connexion {
  &__content__body{
    padding : 15px !important;
  }
}

body .sectionback{
  &__content{
    float : right
  }
}

body .fiche__general__etape{
  padding-left: 30px !important;
  padding-right: 30px !important;
}