<!DOCTYPE html>
<html>
<head>
  <title>CCBProjet</title>
  <link data-turbolinks-track="true" href="/stylesheets/application.css" media="all" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>


	<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="/javascripts/app.min.js"></script>
</body>
</html>
